
/*----------- ADD YOUR CUSTOM CSS STYLES BELOW -----------*/
/* @keyframes borderTransition{
  25%{border-bottom: 2px solid #CABAC8;}
  50%{border-left: 2px solid #CABAC8;}
  75%{border-top: 2px solid #CABAC8;}
  100%{border-right: 2px solid #CABAC8;
    border-bottom: 2px solid #CABAC8;
    border-left: 2px solid #CABAC8;
    border-top: 2px solid #CABAC8;
  }
} */



/*line 980 of main.css to change icon to none to not show on mobile and line 900*/

.navbar-brand{
  margin: 0 -23px;
}

.navbar-nav{
  padding: 11px;
}

 .navbar .navbar-nav  .c-link{
  color: #cad3d4;
  margin-top: -2px;
}

.navbar .navbar-nav  .c-link:hover{
  animation: borderTransition 0.5s ease-in forwards;
  color:#fff !important;
}

.navbar .navbar-nav .nav-link:hover{
  color:#007bff;
  border-bottom: 1px solid #2c31ff;
  transition: all .3s ease-in-out;
}

.home-area .fixed-wrapper .social-icons .icon:hover{
  color: #007bff;
  transition: color .2s ease-in-out;
}

.content-p{
  padding-top: 15px;
  color:#fff;
  font-size: 15px;
}

.single-service .branding{
  padding-bottom: 52px;
}

.skills{
  font-size: 57px;
  color:#fff;
}
.skills:hover{
  color:#007bff;
}

@media only screen and (max-width: 500px){
 .home-area .fixed-wrapper .social-icons {
   margin-bottom: 0;
   display: flex;
   padding-bottom: 113px;
 }

  .home-area .fixed-wrapper .social-icons>li {
   line-height: 100%;
   margin-top: 14px;
   text-align: center;
   padding: 0 20px;
}

.content-p{
  padding-top: 1px;
  color:#fff;
  font-size: 10px;
}

}

@media (max-width: 767.98px){
.navbar .navbar-menu .btn-line, .navbar .navbar-menu:before, .navbar .navbar-menu:after {
    background-color: #007bff;
}
}
