/*!
  * Item: Kitzu
  * Description: Personal Portfolio Template
  * Author/Developer: Exill
  * Author/Developer URL: https://themeforest.net/user/exill
  * Version: v1.1.0
  * License: Themeforest Standard Licenses: https://themeforest.net/licenses
  */

/*----------- ADD YOUR CUSTOM CSS STYLES BELOW -----------*/
/* @keyframes borderTransition{
  25%{border-bottom: 2px solid #CABAC8;}
  50%{border-left: 2px solid #CABAC8;}
  75%{border-top: 2px solid #CABAC8;}
  100%{border-right: 2px solid #CABAC8;
    border-bottom: 2px solid #CABAC8;
    border-left: 2px solid #CABAC8;
    border-top: 2px solid #CABAC8;
  }
} */



/*line 980 of main.css to change icon to none to not show on mobile and line 900*/



.navbar-brand{
  margin: 0 -23px;
}

.navbar-nav{
  padding: 11px;
}

 .navbar .navbar-nav  .p-link{
  color: #61CFE5;
}
.navbar .navbar-nav  .p-link:hover{
  animation: borderTransition 0.5s ease-in forwards;
}

.navbar .navbar-nav .nav-link:hover{
  color:#007bff;
  /* border-bottom: 1px solid #2c31ff; */
  transition: all .3s ease-in-out;

}

.home-area .fixed-wrapper .social-icons .icon:hover{
  color: #007bff;
  transition: color .2s ease-in-out;
}

@media only screen and (max-width: 376px){
  .home-area .fixed-wrapper .social-icons {
    margin-bottom: 0;
    display: flex;
  }

  .home-area .fixed-wrapper .social-icons>li {
    line-height: 100%;
    margin-top: 14px;
    text-align: center;
    padding: 0 20px;
}
}
