/*!
  * Item: Kitzu
  * Description: Personal Portfolio Template
  * Author/Developer: Exill
  * Author/Developer URL: https://themeforest.net/user/exill
  * Version: v1.1.0
  * License: Themeforest Standard Licenses: https://themeforest.net/licenses
  */

/*----------- ADD YOUR CUSTOM CSS STYLES BELOW -----------*/

.navbar-brand{
  margin: 0 -23px;
}
.navbar .navbar-nav .nav-link:hover{
  color:#007bff;
  transition: color .2s ease-in-out;
}

.home-area .fixed-wrapper .social-icons .icon:hover{
  color: #007bff;
  transition: color .2s ease-in-out;
}
